[submodule "Submodules/Bezier3D"]
	path = Submodules/Bezier3D
	url = https://github.com/Siccity/Bezier3D.git
[submodule "Submodules/xNode"]
	path = Submodules/xNode
	url = https://github.com/Siccity/xNode.git
