[submodule "submodules/Bezier3D"]
	path = submodules/Bezier3D
	url = https://github.com/Siccity/Bezier3D.git
[submodule "submodules/UnityNodeEditorCore"]
	path = submodules/UnityNodeEditorCore
	url = https://github.com/Siccity/UnityNodeEditorCore.git
